<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title}}</h1></a>
    </div>
    <nav>
      <ul class="sidebar-nav">
	<h3>Frequent</h3>
	{{ range $.Site.Taxonomies.tags.ByCount }}
	{{ if gt .Count 6 }}
	<li>
	  <a href="/tags/{{ .Name }}"> {{ .Name }} <small>({{ .Count }})</small></a>
	</li>
	{{ end }}
	{{end}}
	<h4><a href="/tags/">All Topics ►</a></h4>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
          {{- end }}
      </ul>
      <ul class="sidebar-nav">
	  <h3>About </h3>
	    <li>
	      <a href="{{ .Site.BaseURL }}/about">Josh Rollins</a>
	    </li>
	    <li>
	      <a href="{{ .Site.BaseURL }}/taonaw">TAONAW</a>
	    </li>
      </ul>
      <ul class="sidebar-icons">
	<li>
	  <a href="http://joshrollinswrites.com/index.xml"><i class="fa fa-rss-square fa-lg" aria-hidden="true"></i></a>
	</li>
	<li>
	  <a href="https://mastodon.technology/@jrss"><i class="fab fa-mastodon fa-lg"></i></a>
	</li>
	<li>
	  <a href="https://www.reddit.com/user/JR121"><i class="fab fa-reddit-alien fa-lg"></i></a>
	</li>
      </ul>
    </nav>
  </div>
</aside>



