<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title}}</h1></a>
    </div>
    <nav>
      <ul class="sidebar-nav">
	<h3>Popular Topics</h3>
	{{ range $.Site.Taxonomies.tags.ByCount }}
	{{ if gt .Count 4 }}
	<li>
	  <a href="/tags/{{ .Name }}"> {{ .Name }} <small>({{ .Count }})</small></a>
	</li>
	{{ end }}
	{{end}}
	<h4><a href="/tags/">All Topics →</a></h4>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
	  <h3>About</h3>
	  <a href="{{ .Site.BaseURL }}/about">Josh Rollins</a>
	  <a href="{{ .Site.BaseURL }}/taonaw">TAONAW</a>
      </ul>
    </nav>
  </div>
</aside>



